body {
    padding-bottom: 20px;
  }
  
  .navbar {
    margin-bottom: 20px;
  }
  

  .box {
    background-color: red;
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
  }